<br>
<br>

<div class ="center hero-unit">
    <h1>WELCOME to MY PROJECT</h1>

    <h2>hello there!you are currrently at our home page</h2>
     <%= link_to "join us","/users/new", class: "btn btn-large btn-primary" %>
 </div>    