<footer class="footer">
	<small >
		<p> this site was developed by PRATYUSH DHOUNDIYAL </p>
	</small>
	<nav>
	<ul >
	<li><%= link_to "about ","/pages/about" %></li> 
	<li><%= link_to "contact ","/pages/contact" %></li>
	</ul>
	</nav>
	</footer>	